:root{

    --primario:#234;
}

*{
    text-decoration: none;
    list-style: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family:  Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    height: 500rem;
}
body header img{
    width: 100%;
    height: 100%;
}
/* UTILIDADES */

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
    overflow: hidden;
}

.navegacion{
    height: 2rem;
    display: flex;
    padding: 1.5rem 0;
    justify-content: space-between;
    margin-bottom: 2rem;
}
/* NAV */
.menu{
    /* position: fixed; */
    top: 1rem;
    right: .5rem;
    color: black;
    padding: .3rem;
    /* box-shadow: 0 0 6px rgba(0, 0, 0, .3); */
    cursor: pointer;
    display: none; 
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.navbar a{
    padding: 1rem 2rem;
    color: black;
    font-size: 1.2rem;
    position: relative;
}
.navbar a::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: #d57eeb;
    transition: width .5s;
}
.navbar a:hover{
    color: #d57eeb;
}
.navbar a:hover::after{
    width: 100%;
}
/* HERO */

.hero{
    display: flex;
    gap: 6rem;
    justify-content: center;
    align-items: flex-end;
}

.hero h1{
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
}

.hero-content{
    flex-basis: 60%;
    display: flex;
    height: 100%;
    justify-content: flex-end   ;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
}
.hero-content h1{
    font-size: 3rem;
}
.hero-content p{
    font-size: 1.2rem;
    color: rgb(178, 178, 178);
}
.hero button{
    padding: 1rem 2rem;
    color:whitesmoke;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: black;
    border-radius: 1.3rem;
    cursor: pointer;
    margin: 2rem 0;
}
.hero button:hover{
    background: #d57eeb;
}

.hero-img{
    position: relative;
    display: flex;
    justify-content: center;
    flex-basis: 40%;
}
.hero-img .bg{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70%;
    width: 100%;
    background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
    border-radius: 6rem;
    z-index: 1;
}

.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 99;
}

main .stats{
    margin: 5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    /* flex-wrap: wrap; */
}
main .stats h2{
    font-size: 2rem;
    padding: 1.5rem;
}
main .stats .box{
    width: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
}
main .stats .box h3{
    font-size: 3rem;
    color: #5cc9e2;
    margin: 1rem 0;
}
main .stats .box p{
    font-size: 1.2rem;
}


/* work */

.work{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    background: #d57eeb;
    gap: 3rem;
    padding: 2rem;
}
.work .features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
}
/* MEDIA QUERIES */

@media (max-width: 778px){
    
    .navbar{
        background: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
        height: 100vh;
        flex-direction: column;
        right: -100%;
        padding: 5rem;
        position: absolute;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
        transition: right .5s;
    }
    .navbar.toggle{
        right: 0;
    }
    .menu{
        display: block;
        z-index: 999;
    }
}